name: Publish to PyPI
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"  # 更精确的版本号匹配

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build and publish to pypi
        uses: astral-sh/setup-uv@v5
      - run: |
          uv build
          uv publish
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
